/* native watched bage */

ytd-thumbnail-overlay-playback-status-renderer {
    display:none !important;
}

/* native time badge */

ytd-thumbnail-overlay-time-status-renderer {
    padding:3px 4px 3px 4px !important;
}


ytd-thumbnail-overlay-resume-playback-renderer {
     display:none !important; 
}

.youwatch-mark:last-of-type:after { 
    background-color:#000000; 
    border-radius:2px; color:#FFFFFF; 
    content:"WATCHED"; 
    font-size:11px; left:4px; 
    opacity:0.4; 
    padding:3px 4px 3px 4px; 
    position:absolute; 
    top:4px !important;
}


.thumbnail-overlay-resume-playback-progress {
    background-color: rgb(48, 245, 9) !important; 
    height: 4px;
    left: 0;
    clear:left
}


.youwatch-mark yt-img-shadow img { 
    filter:grayscale(1.0); 
}

.youwatch-mark yt-image img { 
    filter:grayscale(1.0);
 }

.youwatch-mark yt-img-shadow img {
     opacity:0.3; 
    }


 .youwatch-mark yt-image img { 
    opacity:0.3; 
}